.DS_Store

# Environment secrets (local & production)
.env
.env.local
.env.*.local
.env.production

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# Deploy package (contains secrets)
siperkul-infinityfree.zip
deploy_staging/
.envds


siperkul-part1-core.zip
siperkul-part2-vendor.zip


siperkul-fix-env.zip


siperkul-update-infinityfree.zip


siperkul_mk_export.sql


siperkul_prodi_mk_fix.sql
_export_prodi_mk.php

